@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root{
    /* --background:#040D12; */
    --background:#000000;
    /* --foreground:#183D3D; */
    --foreground:#51424f;
    /* --text:#93B1A6; */
    --text:#ec87e4;

    --extra:#FF95C5;
}
html{
    overflow: auto;
}
body{
    background-color: var(--background);
    width: 100%;
    height: 100vh;
    overflow: auto;
}

nav{
    width: 100%;
    background-color: var(--foreground);
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    
    
}

nav> a{
    text-decoration: none;
    color: var(--text);
    font-family: 'Anton', sans-serif !important;
}

.options{
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10%;

}

.options>a{
    text-decoration: none;
    color: var(--text);
}

article{
    text-align: center;
    color: var(--text);
    width: 50%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-40%);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    flex-direction: column;
}

article > h1{
    font-size: 3em;
}
article > h3{
    font-size: 2em;
}
article > h4{
    font-size: 1em;
}

article > button{
    width: 40%;
    height: 15%;
}
.login-cont{
    /* background-color: var(--foreground); */
    padding: 1em;
    width: 50%;
    height: 50%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-70%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10%;

}

.login-cont > input{
    text-align: center;
    font-size: large;
    width: 80%;
    height: 20%;

}

.login-cont > h2{
    color: var(--text);
}

.login-cont > button{
    font-size: large;
    width: 25%;
    height: 20%;
}

.signup-cont{
    /* background-color: var(--foreground); */
    padding: 1em;
    width: 50%;
    height: 70%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-60%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10%;

}

.signup-cont > input{
    text-align: center;
    font-size: large;
    width: 80%;
    height: 20%;

}

.signup-cont > h2{
    color: var(--text);
}

.signup-cont > button{
    font-size: large;
    width: 25%;
    height: 20%;
}

.connection-cont{
    padding: 1em;
    width: 40%;
    height: 100%;
    border: 1px solid var(--foreground);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-40%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    border-radius: 0.5em;
}

.add-user-cont{
    padding: 1em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 0.5em;
    grid-row: 1;
    
}

.add-user-cont > button{
    font-size: large;
    height: 80%;
    width: 20%;
}

.add-user-cont  > input{
    font-size: large;
    text-align: center;
    width: 80%;
    height: 80%;
}


.task-cont{
    width: 50%;
    height: 80%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 1em;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
}

.task-cont > input{
    width: 100%;
    height: 15%;
    text-align: center;
    font-size: large;
}

.task-cont > textarea{
    padding: 1em;
    width: 100%;
    height: 35%;
    resize: none;
    font-size: larger;
    text-align: center;
}

.task-cont > button{
    width: 30%;
    height: 15%;
}

.task-cont > label{
    width: 100%;
    text-align: left;
    color: var(--text);
}

.chat-cont{
    border: 1px solid var(--foreground);
    border-radius: 0.5em;
    width: 45%;
    height: 90%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80% 20%;
    gap: 1em;

}

.chat-cont-inner{
    overflow-y: auto;
    grid-column: 1;
    grid-row: 1;
}

.text-area{
    padding: 0.5em;
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.text-area> textarea{
    resize: none;
    padding: 1em;
    height: 100%;
    width: 80%;
    
}

.text-area > button{
    height: 100%;
    width: 20%;
}

footer{
    padding: 1em;
    margin-top: 20%;
    width: 100%;
    height: 20%;
    color: var(--text);
    background-color: var(--foreground);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.err-cont{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.562);
    z-index: 10;
    display: none;
   
}

.err-blur{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.562);
    filter: blur(1em);
}

.err-msg{
    position: relative;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid var(--foreground);
    /* background-color: var(--foreground); */
    color: orangered;
    font-size: large;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    word-break: break-all;
    overflow-y: auto;

}

.confirm{
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    height: 100vh;
    background-color: #040d12c4;
    z-index: 10;
    display: none;
}

.confirm-inner{
    padding: 1em;
    width: 50%;
    height: 50%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-60%);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80% 20%;
    gap: 2%;
    border: 1px solid var(--foreground);
    border-radius: 0.5em;
    
    
}

.confirm-inner > p{
    text-align: center;
    word-break: break-all;
    grid-column: 1/-1;
    grid-row: 1;
    overflow-y: auto;
    color: var(--text);
}

.confirm-inner button:nth-of-type(1){
    grid-column: 1;
    grid-row: 2;
}

.confirm-inner button:nth-of-type(2){
    grid-column: 2;
    grid-row: 2;
}

.chats{
    display: grid;
    overflow-y: auto;
    grid-row: 2;
    grid-template-columns: 1fr;
    grid-auto-rows: 7em;
    gap: 1em;

}


.connection-inner-cont{
    padding: 0.5em;
    position: relative;
    left: 2.5%;
    width: 95%;
    height: 100%;
    background-color: var(--foreground);
    border-radius: 0.5em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    gap: 0.4em;

}


.connection-options{
    padding: 0.5em;
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30%;

   
}

.connection-options > img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: contain;
}

.user-title-cont{
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-row: 1;
    grid-column: 1;
}

.user-title-cont > h3{
    color: var(--text);
}

.mychat , .otherchat{

    width: 100%;
    padding: 1em;
    height: fit-content;
    color: var(--text);
    word-break: break-all;
    margin-top: 2em;

}

.mychat>h6 , .otherchat>h6{
    color: var(--foreground);
    margin-top: 1em;
}

.mychat>p , .otherchat>p{
   font-size: medium;
}

.mychat{
 
    text-align: right;
}

.otherchat{
 
    text-align: left;
}

.taskpanel{
    width: 80%;
    height: 80%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid var(--foreground);

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10%  90%;
    color: var(--text);

}

.taskpanel h2:nth-of-type(1){
    padding: 0.5em;
    grid-row: 1;
    grid-column: 1;
    text-align: center;
    cursor: pointer;
}

.taskpanel h2:nth-of-type(2){
    padding: 0.5em;
    grid-row: 1;
    grid-column: 2;
    text-align: center;
    cursor: pointer;
}

.all-tasks{
    width: 100%;
    grid-row: 2;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 90%;
    padding: 1em;
    overflow-y: auto;
    gap: 5%;
}

.mytaskcont{
    border-radius: 0.5em;
    width: 80%;
    position: relative;
    left: 10%;
    background-color: var(--foreground);
    padding: 1em;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 10%;
 
    gap: 2%;
}
.mytaskcont > h3{
    text-align: center;
    grid-column: 1;
}
.mytaskcont > h4{
    text-align: center;
    grid-column: 1;
}
.mytaskcont > h5{
    text-align: center;
    grid-column: 1;
}
.mytaskcont > p{
    grid-column: 1;
    grid-row: span 4;
    word-break: break-all;
    overflow-y: auto;
    text-align: center;

}

.mytaskcont > label{
    display: flex;
    align-items: center;
    justify-content: left;
}

.mytaskcont > label:nth-of-type(1){
    grid-column: 2;
    grid-row: 1;
}

.mytaskcont > label:nth-of-type(2){
    grid-column: 2;
    grid-row: 3;
}

.mytaskcont > textarea {
    grid-column: 2;
    grid-row: 4 / span 3;
    width: 80%;
    resize: none;
}

.mytaskcont > input {
    grid-column: 2;
    grid-row:2;
    width: 80%;
}

.mytaskcont button:nth-of-type(1){
    grid-column: 2;
    grid-row: 7;
    width: 80%;
}

.mytaskcont button:nth-of-type(2){
    grid-column: 2;
    grid-row: 8;
    width: 80%;
}

.othertaskcont{
    border-radius: 0.5em;
    position: relative;
    left: 30%;
    width: 40%;    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
    background-color: var(--foreground);
}

.othertaskcont > img{
    object-fit: contain;
    height: 10%;
    cursor: pointer;
}

.log-cont{
    border-radius: 0.5em;
    border: 1px solid var(--foreground);
    position: relative;
    width: 50%;
    height: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 10%;
    gap: 0.5em;
    padding: 1em;
    overflow-y: auto;
}

.log-cont > h5{
    color: var(--text);
    width: 100%;
    word-break: break-all;
}

button{
    padding: 1em;
    border: 1px solid var(--text);
    background-color: var(--background);
    color: var(--text);
    cursor: pointer;
    font-size: medium;
}

button:hover{
    border: 1px solid #bbe2d4;
    color: #bbe2d4;
    box-shadow: 0 0.1em 0.1em 0 #bbe2d4;
}

.dashboard{
    position: relative;
    left: 10%;
    width: 80%;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text);
}

input{
    background-color: transparent;
    border: 1px solid var(--foreground);
    color: var(--text);
}

textarea{
    background-color: transparent;
    color: var(--text);
    border: 1px solid var(--foreground);

}