<%- include('partials/header') %>
    <div class="chat-cont">
        <div class="chats"></div>
        <div class="text-area">
            <textarea name="message" id="" cols="30" rows="10"></textarea>
            <button>send</button>
        </div>
    </div>
<%- include('partials/footer') %>