<%- include('partials/header') %>
    <div class="chat-cont">
        <div class="chat-cont-inner"></div>
        <div class="text-area">
            <textarea class="message" name="message" id="" cols="30" rows="10"></textarea>
            <button class="send">send</button>
        </div>
    </div>
    <script>
        let usrid = '<%- usrid%>'
    </script>
    <script src="/public/js/chat.js"></script>
<%- include('partials/footer') %>