<%- include('partials/header') %>
<div class="connection-cont">
    <div class="add-user-cont">
        <input type="text" placeholder="userID">
        <button>add</button>
    </div>
    <div class="chats">

    </div>
</div>
<%- include('partials/footer') %>