<%- include('partials/header') %>
<div class="connection-cont">
    <div class="add-user-cont">
        <input type="text" placeholder="userID" class="user-id">
        <button class="user-add">add</button>
    </div>
    <div class="chats">

    </div>
</div>
<script src="/public/js/connections.js"></script>
<%- include('partials/footer') %>