<%- include('partials/header') %>
    <form action="/account/login" method="post" class="login-cont">
        <h2>Please login</h2>
        <input type="text" name="username">
        <input type="password" name="password">
        <button>login</button>
    </form>
<%- include('partials/footer') %>