<%- include('partials/header') %>
<form action="/account/signup" method="post" class="signup-cont">
    <h2>Create a account</h2>
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="password" name="cpassword" placeholder="confirm password">
    <button>signup</button>
</form>
<%- include('partials/footer') %>