<%- include('partials/header') %>
<form target="<%= `/connections/task/${userid}` %>" method="post" class="task-cont">
 
        <input type="text" name="task[title]" placeholder="task title" required>
        <textarea name="task[description]" id="" cols="30" rows="10" placeholder="description"></textarea>
        <label for="deadline">deadline</label>
        <input type="date" name="task[deadline]" id="deadline" placeholder="deadline">
        <button>assign</button>
</form>

<%- include('partials/footer') %>