<%- include('partials/header') %>
<div class="task-cont">
    <div class="add-task-cont">
        <input type="text" name="title" placeholder="task title" required>
        <textarea name="description" id="" cols="30" rows="10" placeholder="description"></textarea>
        <label for="deadline">deadline</label>
        <input type="date" name="deadline" id="deadline" placeholder="deadline">
        <button>add</button>
    </div>
    <div class="tasks-cont">

    </div>
</div>
<%- include('partials/footer') %>